<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='..//public/css/style.css'>
</head>
<body>
    <div id="bloc_page">
        <h3>Erreur page non trouver !</h3>
        <p><a href="/todo/home">Allez a l'acceuil</a></p>
    </div>
</body>
</html>